body {
    font-family: "Poppins", sans-serif;
    background-color: #f7f9fc;
    color: #333;
}

/* Color Palette */
:root {
    --primary-color: #2092be;
    --secondary-color: #6c757d;
    --accent-color: #ff5722;
    --light-bg: #f7f9fc;
    --dark-bg: #343a40;
}

nav a {
    color: white !important;
}

.hero-section {
    background: linear-gradient(rgba(13, 110, 253, 0.7), rgba(0, 0, 0, 0.6)),
        url("island.png") no-repeat center center/cover;
    height: 100vh;
    color: white;
    display: table;
    width: 100%;
}

.hero-section .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.hero-section h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
}

.hero-section a,
.btn-primary {
    background-color: var(--accent-color);
    border: none;
    padding: 10px 25px;
    font-size: 1.2rem;
    border-radius: 30px;
}

.hero-section a:hover,
.btn-primary:hover {
    background-color: #e64a19;
    color: white;
}

.card {
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-title {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.btn-light {
    background-color: var(--primary-color);
    color: white;
    border: none;
}

.btn-light:hover {
    background-color: var(--accent-color);
}

.accordion-header .accordion-button {
    font-weight: bold;
    background-color: var(--light-bg);
    border: 1px solid var(--secondary-color);
    color: var(--primary-color);
}

.accordion-header .accordion-button:not(.collapsed) {
    background-color: var(--primary-color);
    color: white;
    box-shadow: none;
}

footer {
    background-color: var(--dark-bg);
    color: white;
    padding: 20px 0;
}

footer a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
    color: var(--primary-color);
}

footer a {
    color: var(--primary-color);
    margin-right: 10px;
}

footer a .bx {
    border: 2px solid var(--primary-color);
}