# Ignore node_modules
node_modules/

# Package lock file
package-lock.json

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.webp

# Ignore PDF files
*.pdf

# Ignore README files
readme.md
README.md

# Ignore environment variable files
.env