<nav class="nav">
  <div class="container">
    <a class="brand" href="/">WH-App</a>
    <ul class="links">
      <li><a href="/">Home</a></li>
      <li><a href="/services">Our Services</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>
  </div>
</nav>
